<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>我的关注</string>
			<key>pic</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的粉丝</string>
			<key>pic</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>我的帖子</string>
			<key>pic</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的评论</string>
			<key>pic</key>
			<string></string>
		</dict>
		<dict>
			<key>title</key>
			<string>我的收藏</string>
			<key>pic</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>个人设置</string>
			<key>pic</key>
			<string></string>
		</dict>
		<dict>
			<key>pic</key>
			<string></string>
			<key>title</key>
			<string>附近药店</string>
		</dict>
		<dict>
			<key>title</key>
			<string>清除缓存</string>
			<key>pic</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
